:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2 linear;
}

body{
    background-color: var(--main-color);
}

section{
    padding: 3re. 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--bg);
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar{
    margin: 0;
    
}