:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
     font-family: "Roboto", sans-serif;
}

body{
    background-color: var(--main-color);
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--bg);
    background-color: var(#b3907a);
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.imagem {
    border-radius: 50%;
}

.navbar a:hover {
    color: var(--bg);
    border-bottom: 0.1rem solid var(--black);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons img{
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: #d3ad7f;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.2;
}

.home-container {
    background: url("./47136643-cafe-com-leite-e-especiarias-gratis-foto.jpg");
    height: 100vh;
    background-position: center;
   background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

.contente {
    max-width: 600rem;
}

.contente h3 {
    color: #fff;
    font-size: 600rem;
}

.contente p {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
}
.title{
    font-size: 4rem;
    color: bisque;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span{
    color: aliceblue;
    text-transform: uppercase;
}
.about .row {
    display: flex;
    background-color: var(--black);
    gap: 1.5rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}